@charset 'utf-8';

html {
    background: #ffffff;
    color: #3c3c3c;
}

a {
    color: #444;
}

a:hover, a:link, a:visited, a:active {
    text-decoration: none;
}

a, a:focus {
    outline: none;
}

p {
    margin: 0px;
}

ul, li {
    /*list-style: none;*/
}

.display-none {
    display: none;
}

.main-body {
    margin-top: 50px;
    height: 740px;
    background-image: url(../img/body_bg.jpg);
    background-repeat: repeat;
}

.head {
    width : 100%;
    height: 50px;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 199;
    position: fixed;
    border-bottom: 1px solid #d1d1d1;
    background: #f5f5f5;
}

.head-user {
    float: right;
    margin-right: 100px;
    padding-top: 15px;
}

.head-user .user-name {
    color: #f00;
}

.game-top-info-wrap {
    width: 100%;
    height: 127px;

    position: absolute;
    z-index: 102;
}

.game-top-info {
    width: 190px;
    height: 68px;
    margin: auto auto;
}

.game-top-bg-wrap {
    width: 100%;
    height: 127px;

    position: absolute;
    z-index: 101;
}

.landlord-poker {
    width: 57%;
    height: 100%;
    float: left;
}

.rate-bscore-word {
    width: 23%;
    height: 100%;
    float: left;

    background: url(../img/button.png) no-repeat -210px -122px;
}

.rate-bscore-num {
    width: 20%;
    height: 100%;
    float: left;
}

.rate-num {
    width: 100%;
    height: 50%;
}

.rate-num .yellow-num {
    margin-top: 14px;
}

.bscore-num {
    width: 100%;
    height: 50%;
}

.bscore-num {
    margin-top: 2px;
}

.game-top-bg {
    width: 654px;
    height: 127px;
    margin: auto auto;

    background-image: url(../img/top.png);
}

.game-table {
    width: 1024px;
    height: 740px;
    margin: auto auto;

    background-image: url(../img/table_bg.png);
}

.enemy-base {
    width: 100%;
    height: 170px;
}

.left-user {
    width: 115px;
    height: 150px;

    margin-top: 20px;
    margin-left: 20px;

    float: left;
}

.right-user {
    width: 115px;
    height: 150px;

    margin-top: 20px;
    margin-right: 20px;

    float: right;
}

.user-portrait-wrap {
    width: 100%;
    height: 115px;

    background: url(../img/portrait.png) no-repeat -8px -2px;
}

.user-portrait-wrap .user-portrait {
    width: 87px;
    height: 87px;

    margin: 9px 14px;
    position: absolute;

    background: url(../img/portrait.png) no-repeat;
}

.user-portrait-wrap .male {
    background-position: -126px 0;
}

.user-portrait-wrap .female {
    background-position: -305px 0;
}

.user-portrait-wrap .landlord {
    background-position: -216px 0;
}

.user-name {
    color: #fff;
    text-align: center;
}

.enemy-poker {
    width: 100%;
    height: 230px;
}

.left-hand-poker {
    width: 105px;
    height: 160px;

    margin: 50px 0px 0px 20px;
    float: left;
}

.left-ground-poker {
    width: 365px;
    height: 160px;

    margin: 0px 0px 0px 20px;
    float: left;
}

.right-hand-poker {
    width: 105px;
    height: 160px;

    margin: 50px 20px 0px 0px;
    float: right;
}

.right-ground-poker {
    width: 365px;
    height: 160px;

    margin: 0px 20px 0px 0px;
    float: right;
}

.poker-back {
    width: 105px;
    height: 145px;

    background: url(../img/poker.png) no-repeat -23px -12px;
}

.poker-count {
    position: relative;
    right: 43px;
}

.poker-count .yellow-num {
    float: right;
}

.my-ground-poker {
    width: 100%;
    height: 95px;
}

.my-ground-poker .poker.middle {
    margin-top: -20px;
}

.bar-wrap {
    width: 100%;
    height: 50px;
}

.gamble-score-bar,
.tool-bar {
    height: 50px;
}

.gamble-score-bar {
    padding: 0 170px;
}

.tool-bar {
    padding: 0 260px;
}

.button {
    width: 50px;
    height: 26px;
    padding: 13px 23px;
    cursor: pointer;
    background: url(../img/button.png) no-repeat -15px -78px;
}

.button.disable,
.button.disable:hover {
    cursor: default;
    background-position: -15px -238px;
}

.button:hover {
    background-position: -15px -4px;
}

.gamble-score-bar .button,
.tool-bar .button {
    float: left;
    margin: 0 36px;
}

.button .button-num {
    width: 18px;
    height: 28px;
    border: 0 none;
    background: url(../img/button.png) no-repeat 0 0;
    float: left;
}

.button .button-text-unit {
    width: 25px;
    height: 28px;
    border: 0 none;
    background: url(../img/button.png) no-repeat 0 0;
    float: left;
}

.button .button-text {
    width: 50px;
    height: 28px;
    border: 0 none;
    background: url(../img/button.png) no-repeat 0 0;
}

.button .button-num.one {
    background-position: -185px -63px;
}

.button:hover .button-num.one {
    background-position: -125px -63px;
}

.button.disable .button-num.one {
    background-position: -422px -58px;
}

.button.disable.highlight .button-num.one {
    background-position: -185px -63px;
}

.button .button-num.two {
    background-position: -202px -63px;
}

.button:hover .button-num.two {
    background-position: -142px -63px;
}

.button.disable .button-num.two {
    background-position: -440px -58px;
}

.button.disable.highlight .button-num.two {
    background-position: -202px -63px;
}

.button .button-num.three {
    background-position: -219px -63px;
}

.button:hover .button-num.three {
    background-position: -159px -63px;
}

.button.disable .button-num.three {
    background-position: -456px -58px;
}

.button.disable.highlight .button-num.three {
    background-position: -219px -63px;
}

.button .button-text-unit.point {
    background-position: -212px -94px;
}

.button:hover .button-text-unit.point {
    background-position: -185px -94px;
}

.button.disable .button-text-unit.point {
    background-position: -476px -58px;
}

.button.disable.highlight .button-text-unit.point {
    background-position: -212px -94px;
}

.button .button-text.no-gamble {
    background-position: -182px -3px;
}

.button:hover .button-text.no-gamble {
    background-position: -122px -3px;
}

.button.disable .button-text.no-gamble {
    background-position: -422px -3px;
}

.button.disable.highlight .button-text.no-gamble {
    background-position: -122px -3px;
}

.button .button-text.pass {
    background-position: -244px -5px;
}

.button:hover .button-text.pass {
    background-position: -141px -179px;
}

.button.disable .button-text.pass {
    background-position: -422px -3px;
}

.button .button-text.reselect {
    background-position: -244px -36px;
}

.button:hover .button-text.reselect {
    background-position: -141px -152px;
}

.button.disable .button-text.reselect {
    background-position: -422px -32px;
}

.button .button-text.play {
    background-position: -245px -96px;
}

.button:hover .button-text.play {
    background-position: -125px -96px;
}

.button.disable .button-text.play {
    background-position: -481px -32px;
}

.tips-bar {
    width: 1024px;
    height: 30px;

    position: absolute;
    z-index: 1;
}

.tips-info {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #F60;
}

.my-info-wrap {
    width: 100%;
    height: 193px;
    float: left;
}

.my-base-info {
    width: 115px;
    height: 140px;
    margin-top: 30px;
    margin-left: 20px;
    float: left;
}

.my-base-info .poker-count {
    position:relative;
    top: -30px;
}

.my-hand-poker {
    width: 889px;
    height: 163px;

    position:relative;
    top: 30px;

    float: left;
}

.my-hand-poker .poker {
    top: 20px;
}

.my-hand-poker .poker.selected {
    top: 0px;
}

.clock {
	width: 32px;
	height: 32px;
	position: relative;
	
	background: url(../img/alarm.png) no-repeat center center;
}

.clock p {
	font-weight: bold;
	text-align: center;
	padding: 9px 0;
}

.left-user .clock {
	top: 10px;
	left: 30px;
}

.right-user .clock {
	top: 10px;
	left: 30px;
}

.my-base-info .clock {
	top: -60px;
	left: 80px;
}

