@charset "utf-8";

.poker {
	width: 102px;
	height: 139px;
	background: url(../img/poker.png) no-repeat -156px -12px;
	position: absolute;
}

.poker.small {
	-webkit-transform: scale(0.45);
}

.poker.middle {
	-webkit-transform: scale(0.65);
}

.landlord-poker .poker.small {
	position: absolute;
	margin-top: -37px;
}

.poker .poker-content {
	padding: 8px;
}

.poker p.num, .poker p.num::after {
	width: 16px;
	height: 21px;
}

.poker p.num {
	position: relative;
}

.poker p.num.num10, .poker p.num.num10::after {
	width: 22px;
	height: 21px;
}

.poker p.num.num12, .poker p.num.num12::after {
	width: 20px;
	height: 21px;
}

.poker p.num.num18,
.poker p.num.num18::after,
.poker p.num.num19,
.poker p.num.num19::after {
	width: 16px;
	height: 100px;
}

.poker p.num::after {
	content: ' ';
	position: absolute;
	left: 65px;
	top: 100px;
	-webkit-transform: rotate(-180deg);
}

.poker p.num.num18::after,
.poker p.num.num19::after {
	top: 20px;
}


.poker p.num.spade.num3,
.poker p.num.spade.num3::after,
.poker p.num.clubs.num3,
.poker p.num.clubs.num3::after {
	background: url(../img/poker.png) no-repeat -195px -465px;
}

.poker p.num.heart.num3,
.poker p.num.heart.num3::after,
.poker p.num.diamond.num3,
.poker p.num.diamond.num3::after {
	background: url(../img/poker.png) no-repeat -195px -490px;
}

.poker p.num.spade.num4,
.poker p.num.spade.num4::after,
.poker p.num.clubs.num4,
.poker p.num.clubs.num4::after {
	background: url(../img/poker.png) no-repeat -178px -465px;
}

.poker p.num.heart.num4,
.poker p.num.heart.num4::after,
.poker p.num.diamond.num4,
.poker p.num.diamond.num4::after {
	background: url(../img/poker.png) no-repeat -178px -490px;
}

.poker p.num.spade.num5,
.poker p.num.spade.num5::after,
.poker p.num.clubs.num5,
.poker p.num.clubs.num5::after {
	background: url(../img/poker.png) no-repeat -162px -465px;
}

.poker p.num.heart.num5,
.poker p.num.heart.num5::after,
.poker p.num.diamond.num5,
.poker p.num.diamond.num5::after {
	background: url(../img/poker.png) no-repeat -162px -490px;
}

.poker p.num.spade.num6,
.poker p.num.spade.num6::after,
.poker p.num.clubs.num6,
.poker p.num.clubs.num6::after {
	background: url(../img/poker.png) no-repeat -146px -465px;
}

.poker p.num.heart.num6,
.poker p.num.heart.num6::after,
.poker p.num.diamond.num6,
.poker p.num.diamond.num6::after {
	background: url(../img/poker.png) no-repeat -146px -490px;
}

.poker p.num.spade.num7,
.poker p.num.spade.num7::after,
.poker p.num.clubs.num7,
.poker p.num.clubs.num7::after {
	background: url(../img/poker.png) no-repeat -228px -465px;
}

.poker p.num.heart.num7,
.poker p.num.heart.num7::after,
.poker p.num.diamond.num7,
.poker p.num.diamond.num7::after {
	background: url(../img/poker.png) no-repeat -228px -490px;
}

.poker p.num.spade.num8,
.poker p.num.spade.num8::after,
.poker p.num.clubs.num8,
.poker p.num.clubs.num8::after {
	background: url(../img/poker.png) no-repeat -211px -465px;
}

.poker p.num.heart.num8,
.poker p.num.heart.num8::after,
.poker p.num.diamond.num8,
.poker p.num.diamond.num8::after {
	background: url(../img/poker.png) no-repeat -211px -490px;
}

.poker p.num.spade.num9,
.poker p.num.spade.num9::after,
.poker p.num.clubs.num9,
.poker p.num.clubs.num9::after {
	background: url(../img/poker.png) no-repeat -129px -465px;
}

.poker p.num.heart.num9,
.poker p.num.heart.num9::after,
.poker p.num.diamond.num9,
.poker p.num.diamond.num9::after {
	background: url(../img/poker.png) no-repeat -129px -490px;
}

.poker p.num.spade.num10,
.poker p.num.spade.num10::after,
.poker p.num.clubs.num10,
.poker p.num.clubs.num10::after {
	background: url(../img/poker.png) no-repeat -106px -465px;
}

.poker p.num.heart.num10,
.poker p.num.heart.num10::after,
.poker p.num.diamond.num10,
.poker p.num.diamond.num10::after {
	background: url(../img/poker.png) no-repeat -106px -490px;
}

.poker p.num.spade.num11,
.poker p.num.spade.num11::after,
.poker p.num.clubs.num11,
.poker p.num.clubs.num11::after {
	background: url(../img/poker.png) no-repeat -89px -465px;
}

.poker p.num.heart.num11,
.poker p.num.heart.num11::after,
.poker p.num.diamond.num11,
.poker p.num.diamond.num11::after {
	background: url(../img/poker.png) no-repeat -89px -490px;
}

.poker p.num.spade.num12,
.poker p.num.spade.num12::after,
.poker p.num.clubs.num12,
.poker p.num.clubs.num12::after {
	background: url(../img/poker.png) no-repeat -67px -465px;
}

.poker p.num.heart.num12,
.poker p.num.heart.num12::after,
.poker p.num.diamond.num12,
.poker p.num.diamond.num12::after {
	background: url(../img/poker.png) no-repeat -67px -490px;
}

.poker p.num.spade.num13,
.poker p.num.spade.num13::after,
.poker p.num.clubs.num13,
.poker p.num.clubs.num13::after {
	background: url(../img/poker.png) no-repeat -49px -465px;
}

.poker p.num.heart.num13,
.poker p.num.heart.num13::after,
.poker p.num.diamond.num13,
.poker p.num.diamond.num13::after {
	background: url(../img/poker.png) no-repeat -49px -490px;
}

.poker p.num.spade.num14,
.poker p.num.spade.num14::after,
.poker p.num.clubs.num14,
.poker p.num.clubs.num14::after {
	background: url(../img/poker.png) no-repeat -29px -465px;
}

.poker p.num.heart.num14,
.poker p.num.heart.num14::after,
.poker p.num.diamond.num14,
.poker p.num.diamond.num14::after {
	background: url(../img/poker.png) no-repeat -29px -490px;
}

.poker p.num.spade.num15,
.poker p.num.spade.num15::after,
.poker p.num.clubs.num15,
.poker p.num.clubs.num15::after {
	background: url(../img/poker.png) no-repeat -12px -465px;
}

.poker p.num.heart.num15,
.poker p.num.heart.num15::after,
.poker p.num.diamond.num15,
.poker p.num.diamond.num15::after {
	background: url(../img/poker.png) no-repeat -12px -490px;
}

.poker .num.num18,
.poker p.num.num18::after {
	background: url(../img/poker.png) no-repeat -288px -73px;
}

.poker .num.num19,
.poker p.num.num19::after {
	background: url(../img/poker.png) no-repeat -270px -73px;
}

.poker p.shape, .poker p.shape::after {
	width: 20px;
    height: 24px;
}

.poker p.shape {
	position: relative;
}

.poker p.shape::after {
	content: ' ';
    position: absolute;
    left: 65px;
    top: 55px;
    -webkit-transform: rotate(-180deg);
}

.poker .shape.spade,
.poker p.shape.spade::after {
	background: url(../img/poker.png) no-repeat -320px -179px;
}

.poker .shape.heart,
.poker p.shape.heart::after {
	background: url(../img/poker.png) no-repeat -294px -179px;
}

.poker .shape.clubs,
.poker p.shape.clubs::after {
	background: url(../img/poker.png) no-repeat -270px -179px;
}

.poker .shape.diamond,
.poker p.shape.diamond::after {
	background: url(../img/poker.png) no-repeat -247px -179px;
}
